body {
    
    background-color: #AAAAAA;

    margin-top: 50;
    margin-bottom: 50;
    margin-left: 50;
    margin-right: 50;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.top-nav {
    background-color: #333333;
    overflow: auto;
    border-radius: 14px;
}

.top-nav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-nav a:hover {
    background-color: #666666;
    color: #dcdcdc;
}

.top-nav a:active {
    background: #000000;
    color: #dcdcdc;
}

.bottom-nav {
    background-color: #333333;
    overflow: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 14px;
    transform: translate(0%, -10%);
}

.bottom-nav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 12px 10px;
    text-decoration: none;
    font-size: 14px;
}

.bottom-nav a:hover {
    background-color: #666666;
    color: #dcdcdc;
}

.bottom-nav a:active {
    background: #000000;
    color: #dcdcdc;
}

.projects {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin: 0 auto;
}

.card-1 {
    position: absolute;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    transform: translate(5%, 1%);
}

.card-2 {
    position: absolute;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    transform: translate(110%, 1%);
}

.card-3 {
    position: absolute;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    transform: translate(215%, 1%);
}

.card-4 {
    position: absolute;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    transform: translate(320%, 1%);
}

.card-5 {
    position: absolute;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    transform: translate(425%, 1%);
}
.card-6 {
    position: absolute;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    transform: translate(530%, 1%);
}

.project-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.face-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    box-sizing: border-box;
}

.face-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;

}

.card-1:hover .face-2 {
    height: 60px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display:none;
}

.card-2:hover .face-2 {
    height: 60px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display:none;
}

.card-3:hover .face-2 {
    height: 60px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display:none;
}

.card-4:hover .face-2 {
    height: 60px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display:none;
}

.card-5:hover .face-2 {
    height: 60px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display:none;
}

.card-6:hover .face-2 {
    height: 60px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display:none;
}


.container {
    padding: 2px 16px;
}
