body,header,footer {
    
    background-color: #AAAAAA;

    margin-top: 50;
    margin-bottom: 50;
    margin-left: 50;
    margin-right: 50;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.top-nav {
    background-color: #333333;
    overflow: auto;
    border-radius: 14px;
}

.top-nav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-nav a:hover {
    background-color: #666666;
    color: #dcdcdc;
}

.top-nav a:active {
    background: #000000;
    color: #dcdcdc;
}

.login {
    position: absolute;
    transform: translate(1650%,0%);
}

.bottom-nav {
    background-color: #333333;
    overflow: auto;
    position: fixed;
    bottom: 0;
    width: 99%;
    border-radius: 14px;
    transform: translate(0%, -10%);
}

.bottom-nav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 12px 10px;
    text-decoration: none;
    font-size: 14px;
}

.bottom-nav a:hover {
    background-color: #666666;
    color: #dcdcdc;
}

.bottom-nav a:active {
    background: #000000;
    color: #dcdcdc;
}

.login {
    position: absolute;
    transform: translate(1500%,0%);
}